body {
  margin: 5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #9eb7e9;
}
.App {
  display:flex;
  flex-direction: column;
}
div {
  display:flex;
  flex-direction: column;
}
.sectionLabel {
font-size: 1.5em;
margin-top: 0.4em;
margin-bottom: 0.2em;
}
.headerSmall {
  font-size: 1.2em;
}
label {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
select, input {
  margin-left: 0.3em;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#declaration {
  display:inline
}
a {
  display: inline;
}
button {
  width: 100px;
}
